@model AppCore.Models.DTOs.UserInfoDTO

@{
    ViewData["Title"] = "My Account";
}

<div class="my-account-page-container">
    <h1 class="page-title">My Account</h1>
    <div class="my-account-nav-bar-container">
        <nav class="my-account-nav-bar">
            <div class="my-account-nav-link">
                <h4 href="personal-info">Personal Info</h4>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z"/>
                </svg>
            </div>
            <div class="my-account-nav-link">
                <h4 href="orders">Orders</h4>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z"/>
                </svg>
            </div>
            <div class="my-account-nav-link">
                <h4 href="change-password">Change Password</h4>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z"/>
                </svg>
            </div>
            <div class="my-account-nav-link">
                <a asp-controller ="User" asp-action="Logout">
                    Sign Out</a>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z"/>
                </svg>
            </div>
        </nav>
        <div class="my-account-nav-bar-divider"></div>
    </div>
    <form asp-controller="User" asp-action="InfoUpdate" class="personal-info-form">
        <div class="form-input">
            <label class="form-input-label" for="Email">Email *</label>
            <input type="text" name="Email" value="@Model.Email" required/>
            <span class="form-error-msg"></span>
        </div>
        <div class="form-row-inputs">
            <div class="form-input">
                <label class="form-input-label" for="FirstName">First name *</label>
                <input type="text" name="FirstName" value="@Model.FirstName" required/>
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="LastName">Last name *</label>
                <input type="text" name="LastName" required value="@Model.LastName"/>
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="custom-select">
            <div class="custom-select-container form-select required">
                <label class="form-input-label" for="Country">Country *</label>
                <input type="text"
                       name="Country"
                       value="@Model.StreetAddress"
                       placeholder="Country"/>
                <span class="custom-select-text"></span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z"/>
                </svg>
                <ul class="custom-select-container-dropdown-list">
                    <li>Greece</li>
                    <li>Cyprus</li>
                </ul>
            </div>
            <span class="form-error-msg"></span>
        </div>
        <div class="form-row-inputs">
            <div class="form-input">
                <label class="form-input-label" for="City">Town / City *</label>
                <input type="text" name="City" value="@Model.Country" required/>
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="ZipCode">Zip code *</label>
                <input type="text" name="ZipCode" value="@Model.ZipCode" required/>
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="StreetAddress">Street address *</label>
            <input type="text"
                   name="StreetAddress"
                   value="@Model.StreetAddress"
                   required/>
            <span class="form-error-msg"></span>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="Phone">Phone *</label>
            <input type="text" name="Phone" value="@Model.Phone" required/>
            <span class="form-error-msg"></span>
        </div>
        <button type="submit" class="btn">CHANGE INFO</button>
    </form>
    <div class="account-page-orders">
        @foreach (var order in @Model.Orders)
        {
            <section class="order-container">
                <div class="order-products-container">
                    @foreach (var orderDetail
                        in order.OrderDetails!)
                    {
                        <div class="order-product">
                            <img src="../@Url.Content((@orderDetail.Book.Photo?.FilePath ?? "img/books/placeholder.png"))"
                                 alt="book title"/>
                            <a class="order-product-title">
                                @orderDetail.Book.Title
                            </a>
                            <span class="order-product-quantity">Quantity: <strong>@orderDetail.Count</strong></span>
                            <span class="order-product-subtotal">Subtotal: <strong>@orderDetail.TotalCost</strong></span>
                        </div>
                    }
                </div>
                <div class="order-page order-info-container">
                    <span>Order Date: <strong>@order.DateCreated</strong></span>
                    <span>Order ID: <strong>@order.OrderId</strong> </span>
                    <span>Total: <strong>@order.Cost</strong></span>
                </div>
            </section>
        }
    </div>
    <form asp-controller="User" asp-action="UpdateUserPassword" class="change-password-form">
        <div class="form-input">
            <label class="form-input-label" for="OldPassword">Old password *</label>
            <input type="password" name="OldPassword" required/>
            <span class="form-error-msg"></span>
        </div>
        <div class="password-confirmation">
            <div class="form-input">
                <label class="form-input-label" for="NewPassword">
                    New password *
                </label>
                <input type="password" name="NewPassword" required/>
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="ConfirmPassword">Confirm password *</label>
                <input type="password" name="ConfirmPassword" required/>
                <span class="form-error-msg"></span>
            </div>
        </div>
        <button type="submit" class="btn">CHANGE PASSWORD</button>
    </form>
</div>