@model MindTheCodeApp.ViewModels.ShopVMs.ShopVM

@{
    ViewData["Title"] = "Shop";
}


<div class="shop-page-container">
<form class="shop-filters-sidebar">       
        <h2>FILTERS</h2>
    <fieldset class="shop-filters-filter-container">
        <div class="shop-filters-filter-label-container">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z"/>
            </svg>
            <h3>CATEGORY</h3>              
        </div>
        <div class="shop-filters-box-filter">
                @{
                    foreach (var category in Model.Categories)
                    {
                        <div class="shop-filters-box-filter-item">
                            <input type="checkbox" value="@category.CategoryId" name="@category.Title" />
                            <label>@category.Title</label>
                        </div>
                    }
                }            
        </div>
    </fieldset>
        
    <fieldset class="shop-filters-filter-container">
        <div class="shop-filters-filter-label-container">
            <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z"/>
            </svg>
            <h3>AUTHOR</h3>               
        </div>
        <div class="shop-filters-box-filter">
        @{
            foreach (var author in Model.Authors)
            {
                <div class="shop-filters-box-filter-item">
                            <input type="checkbox" value="@author.AuthorId" name="@author.Name" />
                    <label>@author.Name</label>
                </div>
            }
        }
           
        </div>
    </fieldset>   
    <div class="shop-filters-price-container">
        <h3>PRICE</h3>
        <div>
            <span>€1 - </span>
            <span class="shop-filters-price-selection">€@Model.MaxPrice</span>
        </div>
        <input type="range"
                   step="0.01"
               min="1"
                   max="@Model.MaxPrice"
                   value="@Model.MaxPrice"
               class="slider"
               id="myRange"/>
    </div>
    <button type="submit" class="btn filters">APPLY</button>
</form>
<!-- <div class="vr-divider-100"></div> -->
<div class="shop-content">
<header class="shop-content-header">
            <span>
                @Model.Books.Count results
            </span>          
</header>
<div class="shop-content-list">

            @foreach (var book in Model.Books)
            {
                <div data-id="@book.BookId" class="product-card">
                    <img src="@Url.Content((@book.Photo?.FilePath ?? "/img/books/placeholder.png"))"
                         alt="@book.Title cover" />

                    <a asp-controller="Shop" asp-action="Product" asp-route-id="@book.BookId" class="product-card-title">@book.Title</a>
                    <a asp-controller="Author" asp-action="Details" asp-route-id="@book.Author?.AuthorId" class="product-card-author"> @book.Author?.Name</a>
                    <span class="product-card-price">€@book.Price</span>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         height="24"
                         width="24"
                         class="product-card-bag-icon">
                        <path d="M6 22q-.825 0-1.412-.587Q4 20.825 4 20V8q0-.825.588-1.412Q5.175 6 6 6h2q0-1.65 1.175-2.825Q10.35 2 12 2q1.65 0 2.825 1.175Q16 4.35 16 6h2q.825 0 1.413.588Q20 7.175 20 8v12q0 .825-.587 1.413Q18.825 22 18 22Zm0-2h12V8h-2v2q0 .425-.287.712Q15.425 11 15 11t-.712-.288Q14 10.425 14 10V8h-4v2q0 .425-.287.712Q9.425 11 9 11t-.712-.288Q8 10.425 8 10V8H6v12Zm4-14h4q0-.825-.587-1.412Q12.825 4 12 4q-.825 0-1.412.588Q10 5.175 10 6ZM6 20V8v12Z" />
                    </svg>
                </div>
            }

</div>
</div>
</div>