@using AppCore.Models.BookModels
@using AppCore.Models.PhotoModels;

@{
    ViewData["Title"] = "Product Page";
}


<div class="product-page-content">
    <section class="product-page-product">
        @{
            var photo = ViewData["Photo"] as Photo;
        }
        <!-- <img src="/img/books/never-never.jpg" alt=""/>-->
        <img src=@photo.FilePath alt="" />
        <div class="product-page-product-info">
            <h2 class="product-page-product-title">
                @{
                    var book = ViewData["Book"] as Book;
                    @book.Title
                    ;
                }
            </h2>
            <div class="product-page-product-author">
                by
                <a href="">@book.Author.Name</a>
            </div>
            <div class="hr-divider-100"></div>
            @if (book.Count > 0)
            {
                <span class="product-page-product-availability">Available</span>
            } 
            else
            {
                <span class="product-page-product-availability">Not Available</span>
            }
            <span class="product-page-product-price">@book.Price</span>
            <div class="product-page-product-btns">
                <div class="number-input-container">
                    <button class="number-input-minus product-page">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24"
                             width="24">
                            <path d="M5 13v-2h14v2Z"/>
                        </svg>
                    </button>
                    <input type="text"
                           name=""
                           id=""
                           value="1"
                           class="product-page"/>
                    <button class="number-input-plus product-page">
                        <svg xmlns="http://www.w3.org/2000/svg"
                             height="24"
                             width="24">
                            <path d="M11 19v-6H5v-2h6V5h2v6h6v2h-6v6Z"/>
                        </svg>
                    </button>
                </div>
                <button class="btn product-page-add-to-cart">ADD TO CART</button>
                <a href="" class="link-btn-revert">BUY NOW</a>
            </div>
            <div class="hr-divider-100"></div>
            <p class="product-page-product-description">
                @book.Description
            </p>
        </div>
    </section>
    <div class="hr-divider-100"></div>
    <section class="product-page-author">
        <div class="product-page-author-img-container">
            @{
                var authorPhoto = ViewData["AuthorPhoto"] as Photo;
            }
            <img src=@authorPhoto.FilePath alt="" />
        </div>
        <div class="product-page-author-info">
            <h4>About the Author</h4>
            <p>
                @book.Author.Description
            </p>
        </div>
    </section>
</div>