@model MindTheCodeApp.ViewModels.OrderVMs.IndexOrderVM

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Customer Email</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Fulfilled</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fulfilled)
        </dd>
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Active</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </dd>
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Cancelled</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cancelled)
        </dd>
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Address</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Cost</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            <label style="font-weight:bold;">Order Created</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderCreated)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>