@model MindTheCodeApp.ViewModels.OrderVMs.IndexOrderVM

@{
    ViewData["Title"] = "Order Details";
}

@Html.Partial("PartialViews/_AdminMenuPartial");


<div class="admin-page-content">
    <h1 class="page-title">OrderDetails</h1>
    <div class="admin-page-table">
        <header class="admin-page-table-header">
            <h4 class="width-5">ID</h4>
            <h4 class="width-15">Customer Email</h4>

            <h4 class="width-10">Fulfilled</h4>
            <h4 class="width-10">Active</h4>
            <h4 class="width-10">Cancelled</h4>
            <h4 class="width-20">Address</h4>
            <h4 class="width-10">Cost</h4>
            <h4 class="width-20">Order Created</h4>
        </header>
        <div class="admin-page-table-row">
            <span class="width-5">@Html.DisplayFor(model => model.IndexOrderId)</span>
            <span class="width-15"> @Html.DisplayFor(model => model.CustomerEmail)</span>
            <span class="width-10">@Html.DisplayFor(model => model.Fulfilled)</span>
            <span class="width-10">@Html.DisplayFor(model => model.Active)</span>
            <span class="width-10">@Html.DisplayFor(model => model.Cancelled)</span>
            <span class="width-20"> @Html.DisplayFor(model => model.Address)</span>
            <span class="width-10"> @Html.DisplayFor(model => model.Cost)</span>
            <span class="width-20"> @Html.DisplayFor(model => model.OrderCreated)</span>
    </div>
</div>
<a class="admin-page-back-link link-btn-revert" asp-action="Index">BACK TO LIST</a>
</div>