@model AppCore.Models.DTOs.UserInfoDTO

@{
    ViewData["Title"] = "My Account";
}

<div class="my-account-page-container">
    <h1 class="page-title">My Account</h1>
    <div class="my-account-nav-bar-container">
        <nav class="my-account-nav-bar">
            <div class="my-account-nav-link">
                <a href="personal-info">Personal Info</a>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z" />
                </svg>
            </div>
            <div class="my-account-nav-link">
                <a href="orders">Orders</a>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z" />
                </svg>
            </div>
            <div class="my-account-nav-link">
                <a href="change-password">Change Password</a>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z" />
                </svg>
            </div>
            <div class="my-account-nav-link">
                <a href="">Sign out</a>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="m12 15.375-6-6 1.4-1.4 4.6 4.6 4.6-4.6 1.4 1.4Z" />
                </svg>
            </div>
        </nav>
        <div class="my-account-nav-bar-divider"></div>
    </div>
    <form asp-controller="User" asp-action="InfoUpdate" class="personal-info-form">
        <div class="form-input">
            <label class="form-input-label" for="Email">Email *</label>
            <input type="text" name="Email" value="@Model.Email" required />
            <span class="form-error-msg"></span>
        </div>
        <div class="form-row-inputs">
            <div class="form-input">
                <label class="form-input-label" for="FirstName">First name *</label>
                <input type="text" name="FirstName" value="@Model.FirstName" required />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="LastName">Last name *</label>
                <input type="text" name="LastName" required value="@Model.LastName" />
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="custom-select">
            <div class="custom-select-container form-select required">
                <label class="form-input-label" for="Country">Country *</label>
                <input type="text"
                       name="Country"
                       value="@Model.StreetAddress"
                       placeholder="Country" />
                <span class="custom-select-text"></span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24" width="24">
                    <path d="M9.4 18 8 16.6l4.6-4.6L8 7.4 9.4 6l6 6Z" />
                </svg>
                <ul class="custom-select-container-dropdown-list">
                    <li>Greece</li>
                    <li>Cyprus</li>
                </ul>
            </div>
            <span class="form-error-msg"></span>
        </div>
        <div class="form-row-inputs">
            <div class="form-input">
                <label class="form-input-label" for="City">Town / City *</label>
                <input type="text" name="City" value="@Model.Country" required />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="ZipCode">Zip code *</label>
                <input type="text" name="ZipCode" value="@Model.ZipCode" required />
                <span class="form-error-msg"></span>
            </div>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="StreetAddress">Street address *</label>
            <input type="text"
                   name="StreetAddress"
                   value="@Model.StreetAddress"
                   required />
            <span class="form-error-msg"></span>
        </div>
        <div class="form-input">
            <label class="form-input-label" for="Phone">Phone *</label>
            <input type="text" name="Phone" value="@Model.Phone" required />
            <span class="form-error-msg"></span>
        </div>
        <input type="submit" class="btn form-btn">CHANGE INFO</input>
    </form>
    <div class="account-page-orders">
        <section class="order-container">
            <div class="order-products-container">
                <div class="order-product">
                    <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">
                        The Family Across the Street: A totally unputdownable
                        psychological thriller with a shocking twist
                    </a>
                    <span class="order-product-quantity">Quantity: <strong>1</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€12.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/51mN3bY0JjL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">Someone Else's Shoes: A Novel</a>
                    <span class="order-product-quantity">Quantity: <strong>5</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€52.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/310KDa7YvxL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">The Keeper of Happy Endings</a>
                    <span class="order-product-quantity">Quantity: <strong>2</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€16.00</strong></span>
                </div>
            </div>
            <div class="order-page order-info-container">
                <span>Order Date: <strong>12/08/2023</strong></span>
                <span>Order ID: <strong>152215</strong> </span>
                <span>Total: <strong>€102.00</strong></span>
            </div>
        </section>
        <section class="order-container">
            <div class="order-products-container">
                <div class="order-product">
                    <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">
                        The Family Across the Street: A totally unputdownable
                        psychological thriller with a shocking twist
                    </a>
                    <span class="order-product-quantity">Quantity: <strong>1</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€12.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/51mN3bY0JjL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">Someone Else's Shoes: A Novel</a>
                    <span class="order-product-quantity">Quantity: <strong>5</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€52.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/310KDa7YvxL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">The Keeper of Happy Endings</a>
                    <span class="order-product-quantity">Quantity: <strong>2</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€16.00</strong></span>
                </div>
            </div>
            <div class="order-page order-info-container">
                <span>Order Date: <strong>12/08/2023</strong></span>
                <span>Order ID: <strong>152215</strong> </span>
                <span>Total: <strong>€102.00</strong></span>
            </div>
        </section>
        <section class="order-container">
            <div class="order-products-container">
                <div class="order-product">
                    <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">
                        The Family Across the Street: A totally unputdownable
                        psychological thriller with a shocking twist
                    </a>
                    <span class="order-product-quantity">Quantity: <strong>1</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€12.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/51mN3bY0JjL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">Someone Else's Shoes: A Novel</a>
                    <span class="order-product-quantity">Quantity: <strong>5</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€52.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/310KDa7YvxL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">The Keeper of Happy Endings</a>
                    <span class="order-product-quantity">Quantity: <strong>2</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€16.00</strong></span>
                </div>
            </div>
            <div class="order-page order-info-container">
                <span>Order Date: <strong>12/08/2023</strong></span>
                <span>Order ID: <strong>152215</strong> </span>
                <span>Total: <strong>€102.00</strong></span>
            </div>
        </section>
        <section class="order-container">
            <div class="order-products-container">
                <div class="order-product">
                    <img src="img/books/516YkEzLC+L._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">
                        The Family Across the Street: A totally unputdownable
                        psychological thriller with a shocking twist
                    </a>
                    <span class="order-product-quantity">Quantity: <strong>1</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€12.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/51mN3bY0JjL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">Someone Else's Shoes: A Novel</a>
                    <span class="order-product-quantity">Quantity: <strong>5</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€52.00</strong></span>
                </div>
                <div class="order-product">
                    <img src="img/books/310KDa7YvxL._SY344_BO1,204,203,200_.jpg"
                         alt="book title" />
                    <a class="order-product-title">The Keeper of Happy Endings</a>
                    <span class="order-product-quantity">Quantity: <strong>2</strong></span>
                    <span class="order-product-subtotal">Subtotal: <strong>€16.00</strong></span>
                </div>
            </div>
            <div class="order-page order-info-container">
                <span>Order Date: <strong>12/08/2023</strong></span>
                <span>Order ID: <strong>152215</strong> </span>
                <span>Total: <strong>€102.00</strong></span>
            </div>
        </section>
    </div>
    <form action="" class="change-password-form">
        <div class="form-input">
            <label class="form-input-label" for="password">Old password *</label>
            <input type="password" name="password" required />
            <span class="form-error-msg"></span>
        </div>
        <div class="password-confirmation">
            <div class="form-input">
                <label class="form-input-label" for="new-password">
                    New password *
                </label>
                <input type="password" name="new-password" required />
                <span class="form-error-msg"></span>
            </div>
            <div class="form-input">
                <label class="form-input-label" for="password-confirmation">Confirm password *</label>
                <input type="password" name="password-confirmation" required />
                <span class="form-error-msg"></span>
            </div>
        </div>
        <button type="submit" class="btn form-btn">CHANGE PASSWORD</button>
    </form>
</div>