@using MindTheCodeApp.ViewModels.BookVMs;
@model IEnumerable<BookAuthorVM>

@{
    ViewData["Title"] = "Admin - Authors";
}

@Html.Partial("PartialViews/_AdminMenuPartial")

<div class="admin-page-content">
    <h1 class="page-title">Authors</h1>

    <div class="admin-page-main-btns-container">
        <a class="link-btn" asp-controller="AdminBookAuthor" asp-action="Create">CREATE NEW AUTHOR</a>
    </div>

    <div class="admin-page-table">
        <header class="admin-page-table-header">
            <h4 class="width-5">ID</h4>

            <h4 class="width-10">@Html.DisplayNameFor(model => model.Name)</h4>
            <h4 class="width-30">
                @Html.DisplayNameFor(model => model.Description)
            </h4>
            <h4 class="width-30">
                @Html.DisplayNameFor(model => model.PhotoFilePath)
            </h4>
            <div class="width-25"></div>
        </header>
        @foreach (var item in Model)
        {
            <div class="admin-page-table-row">
                <span class="width-5">@Html.DisplayFor(modelItem => item.AuthorId)</span>
                <span class="width-10">@Html.DisplayFor(modelItem => item.Name)</span>
                <span class="width-30">
                    @Html.DisplayFor(modelItem => item.Description)
                </span>
                <span class="width-30">@Html.DisplayFor(modelItem => item.PhotoFilePath)</span>
                <div class="admin-page-table-btns-cell width-25">
                    <a class="table-link-btn" asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a>
                    <a class="table-link-btn" asp-action="Details" asp-route-id="@item.AuthorId">Details</a>
                    <a class="table-link-btn" asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
