@model MindTheCodeApp.ViewModels.BookVMs.IndexBookVM

@{
    ViewData["Title"] = "Book Details";
}

@Html.Partial("PartialViews/_AdminMenuPartial");

<div class="admin-page-content">
<h1 class="page-title">Book Details</h1>
    <div class="admin-page-table">
        <header class="admin-page-table-header">
            <h4 class="width-5">ID</h4>
            <h4 class="width-25">Title</h4>

            <h4 class="width-25">Description</h4>
            <h4 class="width-15">Author</h4>
            <h4 class="width-10">Category</h4>
            <h4 class="width-10">Photo Path</h4>
            <h4 class="width-10">Availability</h4>
            <h4 class="width-10">Price</h4>
        </header>
        <div class="admin-page-table-row">
            <span class="width-5">@Html.DisplayFor(model => model.BookId)</span>
            <span class="width-25">@Html.DisplayFor(model => model.Title)</span>
            <span class="width-25">@Html.DisplayFor(model => model.Description)</span>
            <span class="width-15">@Html.DisplayFor(model => model.Author)</span>
            <span class="width-10">@Html.DisplayFor(model => model.Category)</span>
            <span class="width-10">@Html.DisplayFor(model => model.PhotoPath)</span>
            <span class="width-10">@Html.DisplayFor(model => model.Count)</span>
            <span class="width-10"> @Html.DisplayFor(model => model.Price)</span>

        </div>
    </div>
    <a class="admin-page-back-link link-btn-revert" asp-action="Index">BACK TO LIST</a>
</div>